/* Universal styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    padding: 10px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    justify-content: flex-start;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
}

header img {
    display: flex;
    height: 50px; 
    margin: 10px 0;
}

nav {
    display: inline-flex;
    height: 50px;
    flex-basis: 100%;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    text-decoration: none;
    align-items: center;
}

nav a {
    color: seashell
}

main {
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    overflow: hidden;
}

#mission {
    z-index: 1;
    position: absolute;
    background-color: black;
    width: 100%;
}

 .top-jar img {
    width: 1200px;
    height: 700px;
    z-index: 0;
} 

section {
    display: flex;
    flex-direction: column;
}

.teas {
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.banner { 
    display: block;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-size: cover;
}

article {
    justify-content: center;
    margin: 0 auto;
}

figure {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

main img {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.teacup {
    align-content: center;
    justify-content: center;
    max-width: 100%;
    height: 500px;
    width: auto;
    z-index: 0;
}

.boxes {
    display: flex;
    z-index: 1;
    border: dashed red;
    

}
