/* Universal styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    padding: 10px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    justify-content: flex-start;
}

header img {
    display: flex;
    height: 50px;
    /* justify-content: flex-start; */
    border-color: brown;
    border-style: solid;
}

nav {
    display: inline-flex;
    height: 50px;
    border-style: solid;
    flex-basis: 100%;
    justify-content: flex-end;
    gap: 10px;
    border-color: red;
    align-items: center;
    /* justify-self: end; */
    /* margin-left: 10rem; */
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    text-decoration: none;
    align-items: center;
}

nav a {
    color: seashell
}
.top-jar img {
    width: 100%;

    /* position:; */
}